@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face {
  font-family: 'iconos';
  src:  url('../fonts/icomoon.eot?h54y8y');
  src:  url('../fonts/icomoon.eot?h54y8y#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?h54y8y') format('truetype'),
    url('../fonts/icomoon.woff?h54y8y') format('woff'),
    url('../fonts/icomoon.svg?h54y8y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html
    font-family: 'Rubik', sans-serif
    .purple
        background-color: #7711a7
    body
        background-image: url('/backgrounds/bg-main-dark-1440w.jpg'), url('/backgrounds/bg-subtle-1-dark-1440w.jpg'), url('/backgrounds/bg-footer-dark-1440w.jpg');
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: center top, center, center bottom;
        header
            display: flex
            justify-content: space-between
            align-items: center
            padding: 20px
            h1
                color: #e3e6ee
                font-size: 16px
                .cmd::before
                    font-family: 'iconos'
                    content: '\ea81'
                    margin-right: 4px
                    color: #7711a7
            .center
                background-color: #0a0b11
                padding: 5px
                border-radius: 25px
                border: 1px solid #e3e6ee
                box-shadow: 0px 5px 10px -10px rgba(255, 255, 255, 0.7);
                ul
                    display: flex
                    color: #e3e6ee
                    padding: 2px
                    .purple
                        border-radius: 15px
                    li
                        margin: 0 5px
                        padding: 8px
            .socials
                display: flex
                margin-right: 20px
                font-family: 'iconos'
                span
                    margin: 0 5px
                    color: #c460f6
                .twitter::before
                    content: '\ea96'
                .twitch::before
                    content: '\ea9f'
                .github::before
                    content: '\eab0'
                .codepen::before
                    content: '\eae8'
                .spotify::before
                    content '\ea94'
                .youtube::before
                    content: '\ea9d'
                .tema
                    background-color: #0a0b11
                    border-radius: 15px
                    padding: 2px
                    color: #e3e6ee
                    .light::before
                        content: '\e9d4'
                    .dark::before
                        content: '\e9d6'
                        color: #e3e6ee
                        background-color: #7711a7
                        border-radius: 15px
                        padding: 0 2px
        .presentacion
            display: flex
            justify-content: center
            align-items: center
            padding: 40px
            .texto
                margin: 0 100px
                h1
                    font-size: 64px
                    font-weight: 600 
                    color: #e3e6ee
                    margin-bottom: 20px
                p
                    font-size: 16px
                    color: #a3acc8
                    margin-bottom: 20px
                .actividades
                    display: flex
                    p
                        color: #fff
                        margin-right: 10px
                        background-color: #7711a7
                        padding: 10px
                        border-radius: 30px
                        .code::before
                            margin-right: 5px
                            font-family: 'iconos'
                            content: '\ea80'
                        .speaker::before
                            margin-right: 5px
                            font-family: 'iconos'
                            content: '\e91e'
                        .writer::before
                            margin-right: 5px
                            font-family: 'iconos'
                            content: '\e906'
            .imagen
                margin: 0 10px
                margin-right: 100px
                img
                    width: 400px
                    border-radius: 10%
                    margin-right: 20px
        .skills
            padding: 30px
            display: flex
            justify-content: center
            align-items: center
            .contenedor
                display: flex
                justify-content: center
                align-items: center
                color: #e3e6ee
                font-size: 28px
                border: 1px solid #797979
                border-radius: 10px
                margin: 0 120px
                padding: 20px
                h2
                    font-weight: 600
                    margin: 10px 0
                p
                    font-weight: 300
                    color: #a3acc8
                    font-size: 16px
                .fullstack
                    .cmd::before
                        font-family: 'iconos'
                        color: #7711a7
                        content: '\ea81'
                .industry
                    .trophy::before
                        font-family: 'iconos'
                        color: #7711a7
                        content: '\e99e'
                .strategy
                    .plan::before
                        font-family: 'iconos'
                        color: #7711a7
                        content: '\e995'
        .work
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding: 30px              
            color: #e3e6ee
            .description
                display: flex
                justify-content: center
                align-items: center
                .texto
                    margin-right: 150px
                    h1
                        font-size: 36px
                        font-weight: 600
                        margin-bottom: 10px
                    p
                        font-size: 16px
                        font-weight: 300
                        color: #a3acc8
                button
                    font-family: 'Rubik',sans-serif
                    background-color: #7711a7
                    font-size: 16px
                    padding: 10px 20px
                    border: none
                    border-radius: 40px
                    color: #e3e6ee
                    .derecha::before
                        margin-left: 10px
                        font-family: 'iconos'
                        content: '\ea3c'
            .works
                margin-top: 40px
                display: flex
                justify-content: center
                align-content: center
                .left
                    margin-top: 100px
                .duvet
                    position: relative;
                    text-align: center;
                    margin-bottom: 40px
                    img
                        width:70%
                        border-radius: 20px
                    .top-left
                        position: absolute;
                        top: 16px;
                        left: 105px;
                        padding: 7px
                        border-radius: 14px
                        background-color: #0a0b11
                        color: #a3acc8
        .mentions
            padding: 100px
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            text-align: center
            h1
                font-size: 56px
                font-weight: 600
                color: #e3e6ee
                margin-bottom: 25px
            p
                font-size: 16px
                color: #a3acc8
                margin-bottom: 25px
            div
                display: flex
                flex-direction: column
                text-align: center
                justify-content: center
                align-content: center
                color: #e3e6ee
                .fila
                    display: flex
                    flex-direction: row
                    .mention
                        padding: 60px 80px
                        background-color: rgb(44, 44, 44)
                        border: 1px solid #a3acc8
                        border-radius: 30px
                        margin: 20px
        .contact
            padding: 60px
            color: #e3e6ee
            border-top: 1px solid #a3acc8
            border-bottom: 1px solid #a3acc8
            display: flex
            justify-content: space-around
            h1
                font-size: 42px
                font-weight: 600
            button
                font-family: 'Rubik',sans-serif
                background-color: #7711a7
                font-size: 24px
                padding: 10px 20px
                border: none
                border-radius: 40px
                color: #e3e6ee
                .send::before
                    margin-left: 10px
                    font-family: 'iconos'
                    content: '\e949'
        footer
            display: flex
            justify-content: space-between
            align-content: center
            padding: 20px
            color: #e3e6ee
            .left
                margin: 0 15px
                display: flex
                p
                    margin: 0 5px
            .right
                display: flex
                margin: 0 15px
                p
                    margin: 0 5px

                    
